{% extends "base.html" %} <!-- Extracts HTML from master temp-->
<!-- index.html is the homepage of a website-->
{% load static %} <!-- Calls CSS script into HTML doc-->

    {% block CSS_files %}
    <link href="{% static "challenges/challenges.css" %}" rel="stylesheet">
    <link href="{% static "challenges/includes/header.css" %}" rel="stylesheet"> 
    {% endblock %}

    {% block page_title %}
        Mainpage
    {% endblock %}
 <!-- Text above "Mainpage" puts name on browser tab-->

    {% block content%}
    {% include "challenges/includes/header.html"  %} <!--This is a snippet for navbar-->
    <h1> Homepage </h1>
    <ul> <!-- The line below is a Django {% templatetag openblock %} to apply python code-->
        {% for month in month_list %}  
        <li>
            <a href="{% url "month-challenge" month=month %}">{{month|title}}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
